<nav class="navbar navbar-expand-xxl navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand fw-bold" routerLink="/home">MyShop</a>

    <!-- Toggler for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center gap-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">
            Products {{count()}}
          </a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category" routerLinkActive="active">
            Category
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/brands" routerLinkActive="active">
            Brands
          </a>
        </li>

  
      </ul>
    </div>
  </div>
</nav>
